{% extends 'EventsQRApp/base.html' %}
{% load static %}
{% block content %}
    <style>
        .d-flex{
            display: flex;
            justify-content: space-between;
        }
        .list-of-attendance-container{
            width: 900px;
        }
    </style>
        <input type="hidden" id="eventId" value="{{event.id}}">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div>
                    <h1>{{event.EventName}}</h1>
                    <h2>Day {{day}}</h2>
                    <div style="width: 500px" id="reader"></div>
                </div>
            </div>
            <div class="col-6">
                <h1>List Of Attendees</h1>
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Attendance</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for event_attendee in event_attendees %}
                      <tr>
                        <th scope="row">{{event_attendee.attendee.getFullName}}</th>
                        <td>{{event.EventAttendeeDay.all }}</td>
                      </tr>
                        {% endfor %}
                    </tbody>
                  </table>
            </div>
        </div>
    </div>


 
    <script src="{% static 'html5-qrcode.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="text/javascript">
        var flag = false;
        function onScanSuccess(decodedText, decodedResult) {
      
            // Handle on success condition with the decoded text or result.
            if(flag == false){
                var eventId = document.querySelector("#eventId");
                var csrftoken = '{{csrf_token}}';
                flag = true;
                console.log(decodedText);
                let data = new FormData();
                data.append("qrcode", decodedText)  
                data.append("eventId", eventId.value)

                    axios.post('/eventsqrapp/event/'+eventId.value+'/scan-attendees/',data,{
                        headers: {
                        'X-CSRFToken': csrftoken
                        }
                    })
                    .then(function (response) {
                        // handle success
                        console.log(response);
                    })
                    .catch(function (error) {
                        // handle error
                        console.log(error);
                    })
                    .finally(function () {
                        // always executed
                    });
            }
           
        }

        var html5QrcodeScanner = new Html5QrcodeScanner(
            "reader", { fps: 10, qrbox: 250 });
        html5QrcodeScanner.render(onScanSuccess);
    </script>
{% endblock %}